@font-face {
    font-family: "Americana";
	src: url('../../../assets/backend/fonts/americana-webfont.eot');
    src: url('../../../assets/backend/fonts/americana-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../../assets/backend/fonts/americana-webfont.woff2') format('woff2'),
		 url('../../../assets/backend/fonts/americana-webfont.woff') format('woff'),
		 url('../../../assets/backend/fonts/americana-webfont.ttf') format('truetype'),
		 url('../../../assets/backend/fonts/americana-webfont.svg#americanamedium') format('svg');
}

@font-face {
    font-family: "ProximaNova-Light";
	src: url('../../../assets/backend/fonts/proximanova-light-webfont.eot');
    src: url('../../../assets/backend/fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../../assets/backend/fonts/proximanova-light-webfont.woff2') format('woff2'),
		 url('../../../assets/backend/fonts/proximanova-light-webfont.woff') format('woff'),
		 url('../../../assets/backend/fonts/proximanova-light-webfont.ttf') format('truetype'),
		 url('../../../assets/backend/fonts/proximanova-light-webfont.svg#americanamedium') format('svg');
}

body {
	font-family: "ProximaNova-Light";
}




#logo{
	margin-top:-4px;
	width:220px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background: #69AD60;
	opacity:0.9;
}
/* Heeader Menu */
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
	font-family: "Americana";
	font-size:24px;
}
.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}

/* Carausel */
.carousel-caption h1 {
	font-family: "Americana";
    margin-bottom: 20.50%;
	background-image:url('../../assets/img/labelGreen.png');
	background-repeat:repeat;
	padding-top:10px;
	padding-bottom:8px;
	max-width:38%;
	text-align:left;
	padding-left:12px;
	padding-right:12px;
	font-size:35px;
}
#caret{
	margin-top:-5px;
}
#myCarousel{
	margin-top:72px;
}

.arrowWhite{
	width: 0; 
	height: 0; 
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid #fff;
	margin-left:auto;
	margin-right:auto;
}
.arrowSilver{
	width: 0; 
	height: 0; 
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid #F1F1F1;
	margin-left:auto;
	margin-right:auto;
}
.arrowGreen{
	width: 0; 
	height: 0; 
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid #69AD60;
	margin-left:auto;
	margin-right:auto;
}

/* About Us */
#aboutUs{
	background:#fff; 
	min-height:100px; 
	padding-top:50px;
	padding-bottom:50px;
}

#pageAboutUs{
	background:#69AD60; 
	min-height:100px; 
	padding-top:50px;
	padding-bottom:50px;
}

.pageContainer{
	margin-top:70px;
}

#titleAbout{
	font-size:28px;
	font-family: "Americana";
	color:#69AD60;
	margin-top:-5px;
	margin-bottom:12px;
}

#titleAboutDetail{
	font-size:28px;
	font-family: "Americana";
	color:#f1f1f1;
	margin-top:-5px;
	margin-bottom:12px;
}

#descAbout{
	font-size:16px;
}
#descAboutDetail{
	font-size:16px;
	color:#fff;
}
.btnSelengkapnya{
	background:#69AD60;
	margin-top:8px;
	border-color:transparent;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:15px;
	padding-right:15px;
	color:#fff;
	font-size:16px;
}
.btnSelengkapnya:hover{
	opacity:0.9;
	text-decoration:none;
}
#imgAbout{
	width:100%;
}

/* Contact Us */
#pageContactUs{
	background:#69AD60; 
	min-height:100px; 
	padding-top:50px;
	padding-bottom:0px;
}
#titleContactUsDetail{
	font-size:28px;
	font-family: "Americana";
	color:#f1f1f1;
	margin-top:-5px;
	margin-bottom:12px;
}
#descContactUsDetail{
	font-size:16px;
	color:#fff;
}
#titleForm{
	color:#000;
	font-size:16px;
	margin-bottom:6px;
}
#formText{
	width:50%;
	color:#000;
	height:40px;
	padding-left:6px;
	padding-right:6px;
	margin-bottom:10px;
	background:#f1f1f1;
	border:1px solid transparent;
}

.formText{
	width:50%;
	color:#000;
	height:40px;
	padding-left:6px;
	padding-right:6px;
	margin-bottom:10px;
	background:#f1f1f1;
	border:1px solid transparent;
}
#formTextSubject{
	width:100%;
	color:#000;
	height:40px;
	padding-left:6px;
	padding-right:6px;
	margin-bottom:10px;
	background:#f1f1f1;
	border:1px solid transparent;
}

#formTextArea{
	width:100%;
	color:#000;
	min-height:150px;
	padding:6px;
	margin-bottom:10px;
	background:#f1f1f1;
	border:1px solid transparent;
}
#wrapperFormContact{
	background:#fff; min-height:10px; padding:25px; padding-bottom:6px;  border-radius:10px; margin-top:10px; margin-bottom:50px;
}

#contactVersionPage{
	margin-top:2px;
	margin-bottom:50px;
}
#contactVersion{
	font-size:24px;
	font-family:'Americana';
}
#contactVersionDetail{
	font-size:16px;
	margin-bottom:15px;
}

.btnKirim{
	background:#69AD60;
	margin-top:8px;
	border-color:transparent;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:20px;
	padding-right:20px;
	color:#fff;
	font-size:16px;
	margin-bottom:18px;
}
.btnKirim:hover{
	opacity:0.9;
	text-decoration:none;
}

/* login */

#containerLogin{
	width:400px;
	margin-top:10%;
}

.btnLogin{
	background:#69AD60;
	margin-top:8px;
	border-color:transparent;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:20px;
	padding-right:20px;
	color:#fff;
	font-size:16px;
	margin-bottom:18px;
	width:100%;
}
.btnLogin:hover{
	opacity:0.9;
	text-decoration:none;
}


#formTextLogin{
	width:100%;
	color:#000;
	height:40px;
	padding-left:6px;
	padding-right:6px;
	margin-bottom:10px;
	background:#f1f1f1;
	border:1px solid transparent;
}
#titleLogin{
	font-size:28px;
	font-family: "Americana";
	color:#222222;
	margin-top:-5px;
	margin-bottom:12px;
	padding-left:25px;
}
#descLogin{
	font-size:16px;
	color:#fff;
}
#wrapperLogin{
	background:#fff; min-height:10px; padding:25px; padding-bottom:6px;  border-radius:10px; margin-top:10px; margin-bottom:50px;
}

/* New Products */
#newProducts{
	background:#69AD60; min-height:100px; padding-bottom:30px;
}
#titlePageNewProducts{
	font-size:28px;
	font-family: "Americana";
	color:#f1f1f1;
	margin-top:-5px;
	margin-bottom:12px;
	text-align:center;
	margin-top:50px;
	margin-bottom:40px;
}
#titlePageNewProductsDetail{
	font-size:28px;
	font-family: "Americana";
	color:#f1f1f1;
	margin-top:-5px;
	margin-bottom:12px;
	text-align:center;
	margin-top:75px;
	margin-bottom:40px;
}
#imgProduk{
	width:100%;
	margin-bottom:5px;
	border:5px solid #F2F2F2
}
#imgProduk:hover{
	opacity:0.9;
}
#titleProduk{
	font-size:16px;
	text-align:center;
	margin-bottom:15px;
	color:#fff;
}


/* Content Footer */
#contentFooter{
	background:#fff; min-height:100px;	
}
#titleFooter{
	font-size:28px;
	font-family: "Americana";
	color:#69AD60;
	margin-top:10px;
	margin-bottom:10px;
}
#titleMenu{
	font-size:16px;
	margin-top:5px;
}
#titleMenu a{
	color:#464646;
}
#titleMenu a:hover{
	color:#000;
}
#container{
	margin-top:40px;
	margin-bottom:50px;
}
#iconSosmed{
	border-radius:5px;
	margin-right:10px;
	border:1px solid #69AD60;
	margin-bottom:10px;
}

#iconSosmedContact{
	border-radius:5px;
	margin-right:5px;
	border:1px solid #69AD60;
	margin-top:4px;
}


/* Footer */
#footer{
	background:#F1F1F1; border-top:1px solid #61A65A; padding-top:15px; padding-bottom:15px; font-size:16px;
}
#footer a{
	color:#000;
}
#footer a:hover{
	color:green;
	text-decoration:none;
}
#footer #left{
	text-align:left;
}
#footer #right{
	text-align:right;
}





/* RESPONSIVE CSS */


@media (max-width: 1280px) {
	.carousel-caption h1 {
		margin-bottom:19.20%;
		padding-top:10px;
		padding-bottom:10px;
		max-width:40%;
		padding-left:10px;
		padding-right:10px;
		font-size:26px;
	}
}

@media (max-width: 1199px) {
	.carousel-caption h1 {
		margin-bottom:18.50%;
		padding-top:10px;
		padding-bottom:10px;
		max-width:60%;
		padding-left:10px;
		padding-right:10px;
		font-size:26px;
	}
}

@media (max-width: 1024px) {
	.carousel-caption h1 {
		margin-bottom:17.50%;
		padding-top:10px;
		padding-bottom:10px;
		max-width:60%;
		padding-left:10px;
		padding-right:10px;
		font-size:26px;
	}
	#titleProduk{
		font-size:14px;
	}
}

@media (max-width: 991px) {
	.carousel-caption h1 {
		margin-bottom:17%;
		padding-top:10px;
		padding-bottom:10px;
		max-width:60%;
		padding-left:10px;
		padding-right:10px;
		font-size:26px;
	}
}


@media (max-width: 800px) {
	.carousel-caption h1 {
		margin-bottom:15%;
		padding-top:10px;
		padding-bottom:10px;
		max-width:60%;
		padding-left:10px;
		padding-right:10px;
		font-size:26px;
	}
}

@media (max-width: 767px) {
	
	#logo{
		margin-top:-5px;
		width:140px;
		border-top-left-radius: 20px;
		border-bottom-right-radius: 20px;
		background: #69AD60;
		opacity:0.9;
		margin-left:-15px;
	}

	.pageContainer{
		margin-top:30px;
	}

	#titleAbout{
		margin-top:20px;
	}
	.navbar-wrapper {
		font-size:20px;
	}
	.carousel-caption h1 {
		margin-bottom:19%;
		padding-top:10px;
		padding-bottom:10px;
		max-width:65%;
		padding-left:10px;
		padding-right:10px;
		font-size:24px;
	}
	#myCarousel{
		margin-top:50px;
	}
	#footer #left{
		text-align:center;
	}
	#footer #right{
		text-align:center;
	}
}

@media (max-width: 660px) {
	.carousel-caption h1 {
		margin-bottom:18%;
		padding-top:10px;
		padding-bottom:10px;
		max-width:70%;
		padding-left:10px;
		padding-right:10px;
		font-size:18px;
	}
	#myCarousel{
		margin-top:50px;
	}
	
}

@media (max-width: 480px) {
	
	#containerLogin{
		width:320px;
		margin-top:10%;
	}

	#formText{
		width:80%;
	}
	
	.formText{
		width:80%;
	}
	
	.carousel-caption h1 {
		margin-bottom:13%;
		padding-top:10px;
		padding-bottom:10px;
		max-width:80%;
		padding-left:10px;
		padding-right:10px;
		font-size:18px;
	}
	#myCarousel{
		margin-top:50px;
	}
}

@media (max-width: 400px) {
	.carousel-caption h1 {
		margin-bottom:11%;
		padding-top:8px;
		padding-bottom:8px;
		max-width:80%;
		padding-left:5px;
		padding-right:5px;
		font-size:15px;
	}
	#myCarousel{
		margin-top:50px;
	}
}


@media (max-width: 360px) {
	.carousel-caption h1 {
		margin-bottom:9%;
		padding-top:8px;
		padding-bottom:8px;
		max-width:80%;
		padding-left:5px;
		padding-right:5px;
		font-size:15px;
	}
	#myCarousel{
		margin-top:50px;
	}
}

@media (max-width: 320px) {
	
	.carousel-caption h1 {
		margin-bottom:6%;
		padding-top:8px;
		padding-bottom:8px;
		max-width:80%;
		padding-left:5px;
		padding-right:5px;
		font-size:14px;
	}
	#myCarousel{
		margin-top:50px;
	}
}
